.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(237, 234, 234);
}

.calculator-container {
  height: 26rem;
  width: 16rem;
}

.row {
  display: flex;
}
